<h1>Mario's Specialty Foods</h1>

<h3> Recently Added Foods</h3>
<ul>
  <% @foods.three_recent().each do |food| %>
    <li><%= link_to "#{food.name}", food_path(food) %>
  <% end %>
</ul>

<h3>Highest Review</h3>
<ul>
  <% @foods.highest_review().each do |food| %>
    <li><%= link_to "#{food.name}", food_path(food) %>
  <% end %>
</ul>

<h3>Most Reviews</h3>
<ul>
  <% @foods.most_reviews().each do |food| %>
    <li><%= link_to "#{food.name}", food_path(food) %>
  <% end %>
</ul>

<h3>Made in the USA</h3>
<ul>
<% @foods.usa_made().each do |food| %>
  <li><%= link_to "#{food.name}", food_path(food) %>
<% end %>
</ul>


<h3>All foods</h3>
<% if @foods.any? %>
  <ul>
    <% @foods.each do |food| %>
    <li><%= link_to "#{food.name}", food_path(food) %>
    <% end %>
  </ul>

  <% else %>
  <p>There are no foods to show.</p>
  <% end %>
