<h1><%= @food.name %></h1>


<p><%= link_to "Edit Food", edit_food_path(@food) %></p>

<p><%= link_to "Delete Food", food_path(@food),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Add Review", food_review_path(@food) %></p>

 <% if food.reviews.any? %>

     <ul>
       <% food.reviews.each do |review| %>
       <li><%= review.content_body %> | <%= review.author %></li>
     <% end %>
       </ul>

     <% else %>
     <p>There are no reviews to show</p>
     <% end %>
